<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SusTcpPort" value="9994" />
    <add key="CANPort" value="9995" />
    <add key="CANIp" value="127.0.0.1" />
    <add key="RedisIp" value="127.0.0.1" />
    <add key="RedisPort" value="6379" />
    <add key="SussRepmotingPort" value="9994" />
    <add key="SusRepmotingIP" value="127.0.0.1" />
    <!--<add key="CANPort" value="6001"/>
    <add key="CANIp" value="192.168.1.07"/>-->
    <add key="CompanyId" value="1631de7e-fed2-4da2-8e3a-6135be5c040b" />
    <!--是否开启定时任务-->
    <add key="StartSchedulersEabled" value="true"/>
    <!--任务推送时间点-->
    <add key="EmployeeAutomaticLoginImportTime" value="0 11 17 * * ?"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>